.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    color: rgb(200, 200, 200);
    font-size: 16px;
    font-family: "Open Sans",sans-serif;    
    height: 30px;
}
.header-top__info{
    text-align: center;
    font-size: 13px;
}
.nav{
    width: 100%;
    background-color: rgb(24, 24, 24);
    height: 50px;
}
.nav__box{
    width: 100%;
    height: 100%;
    margin:0;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-left: 10px;
    position: relative;
}
.box__item{
    text-decoration: none;
    padding: 6px 14px 6px 14px;
}

.box__item:hover{
    background-color: rgb(80, 80, 80);
}

.box__item2{
    padding-right: 5px;
}

.box__item-product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.box__item-product img{
    margin-top: 10px;
}
.box__item__link{
    color:rgb(200, 200, 200);
    text-decoration: none;
    font-size: 13px;
    padding: 6px 14px 6px 14px;
}
.box__item:hover{
    background-color: rgb(80, 80, 80);
}

.box__item-product:hover{
    background-color: rgb(80, 80, 80);
}

.dropdown{
    position: absolute;
    width: 150px;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 45px;
    left: 105px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    opacity: 0;
}

.dropdown li{
    list-style: none;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100%;
    text-align: center;
}
.open{
    transition: all 400ms ease;
    transform: translateY(0%);
    opacity: 1;
   
}
.close{
    transform: translateY(-160%);
    opacity: 0;
}
.dropdown li:hover{
    font-size: 16px;
    background-color: rgb(230, 230, 230, 0.8);
}
.admin{
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.admin img{
    width: 15px;
    margin-top: 0;
}